.git
data/
notebooks/
mlartifacts/
mlflow_db/
tests/
test_api_*.py
**/__pycache__/
**/*.pyc
.venv/
venv/
.pytest_cache/
.ruff_cache/
**/.ipynb_checkpoints/
docs/
airflow/
deployment/
monitoring/
README.md
README_old.md
.dvc/
